@use "../core/variables" as vars;

.cardPreview {
  font-family: vars.$font-family;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: vars.$color-tertiary;
  border-radius: 10px;
  box-sizing: border-box;
}
