@use "../core/variables" as vars;

.form__main-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}


.form {
  font-family: vars.$font-family;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: vars.$color-bg;
  border-radius: 10px;
}

.form__section-content {
  display: none;

  &.is-open {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
}

.buttonSubmit{
  padding: 0.8rem 2rem;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1rem;
  text-decoration: none;
  background-color: vars.$color-tertiary;
  color: vars.$color-secondary;
  border: none;
  cursor: pointer;
}