@use '../core/variables' as vars;

.page__footer {
    width: 100%;
    padding: 1rem;
    color: vars.$color-primary;
    text-align: center;
    left: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    z-index: 999;
}