@use "../core/variables" as vars;

.page__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 3rem;
  font-family: vars.$font-family;
}

.page__logo {
  width: 100%;
  max-width: 300px;
  height: auto;
}

