@use 'core/reset';
@use 'layout/page';
@use 'layout/header';
@use 'layout/footer';
@use 'pages/index';
@use 'pages/form';


body {
  background-image: url("../images/fondo.png");
}


.backtoinicio{
   position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: rgb(213, 109, 203);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}